<html>

    <head>
        
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <div class='container'>
            <h1>Информационный поиск в корпусе текстов Л.Н.Толстого</h1>
            <p>
            Данный сайт позволяет пользователю совершать поиск русских слов и словосочетаний в собранном нами корпусе текстов Льва Николаевича Толстого.<br>
            <br>
            <b>Доступные варианты поиска:</b>
            <li>BM25</li>
            <li>Word2Vec</li>
            <li>Fasttext</li>
            <br> Данные и код находятся в <a href=https://github.com/asaunina/infopoisk_project/tree/main> нашем гитхабе</a></p>

            <br>
            <br>
            <a href='\search' class='button'>Поиск</a>
        </div>

    </body>


</html>